body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

#countdown {
    font-size: 48px;
    margin-bottom: 20px;
    background-color: aqua;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}
